@model  ModelBasedApproach.Models.EmployeeDetail
@using ModelBasedApproach.UserControl;

@{
    ViewBag.Title = "HtmlHelperExample";
}

<h2>HtmlHelperExample</h2>

<script>
    //function fun()
    //{
    //    var a = document.getElementById('Num1').value;
    //    var b = document.getElementById('Num2').value;
    //    var c = parseInt(a) + parseInt(b);
    //    alert(c);
    //}

    function fun(a) {
        var c = parseInt(a) * parseInt(a);
        alert(c);
    }


</script>

<input type="text" id="Num1" name="name" value="Ritu" style="background-color:pink" class="form-control" onclick="fun(12)" onmouseover=""  /><br />
@Html.TextBox("FirstName","Menal",new { style = "background-color:skyblue" ,@class="form-control",id="Num2", onclick = "fun()" })
@Html.TextBoxFor(s=>s.EmpName, new { style = "background-color:skyblue", @class = "form-control", id = "Num2", onclick = "fun()" })
@Html.EditorFor(s => s.EmpName)
@Html.EditorFor(s => s.EmpSalary)
@Html.EditorFor(s => s.status)

<br />
<br />

@Html.EditorForModel(Model)
<br />
<span>Male</span>  @Html.RadioButton("Gender", "Male")
<span>FeMale</span> @Html.RadioButton("Gender", "FeMale")

<br />
@Html.Password("pwd","Rupali")<br />

<span>java</span> @Html.CheckBox("Java")
<span>DotNet</span> @Html.CheckBox(".Net")
<span>PHP</span> @Html.CheckBox("PHP")

<br />

@Html.DropDownList("Country",new List<SelectListItem>() {
    new SelectListItem {Text="India",Value="1"},
    new SelectListItem {Text="China",Value="2",Selected=true},
    new SelectListItem {Text="Bangladesh",Value="3"},
    new SelectListItem {Text="Japan",Value="4"},
},"Select Country")

<br />
@Html.DropDownList("EmployeeName")
<br />
@Html.DropDownList("EmpDetail",(IEnumerable<SelectListItem>)ViewBag.EmployeeName,"Select Employee")

@Html.TextArea("Address","Naresh IT Ameerpet Hyderabad",20,100,null)



@MyCustomControl.MyLabel("I hearby notified all statements are true")<br />
@Html.createUrControl("text", "message()", "onclick");<br />
@Html.createUrControl("text", "message()", "onmouseover");<br />
@*@Html.createUrControl("radio",null);<br />
@Html.createUrControl("checkbox");<br />
@Html.createUrControl("file");<br />*@


@helper labelbyrazzorcode(string content)
{
    <label>@content</label>
}
@labelbyrazzorcode("hi this is ali")





 
<script>
    function message()
    {
        alert('Hello to Everyone');
    }
</script>